<div class="container">
   <h1 class="text-center"><kbd>WhatsApp Analysis</kbd></h1>
   <div class="jumbotron" style="margin:2px 10% 0 10%;">
	   <%= form_tag '/main_page/process_file' ,multipart: true, class: "form-horizontal" do %>
	      <div class="form-group">
	      	<label class="control-label col-md-2"></label>
	        <%= file_field_tag "file",id:"file_tag", type: "hidden",class: "btn btn-primary control-label col-md-4"  %>
	        <label class="control-label col-md-2"></label>
	        <%= submit_tag 'Process',id:"submit_tag",class: "btn btn-primary control-label col-md-2" %>
	        <label class="control-label col-md-2"></label>
	      </div>
	   <% end %>
	</div>
	<div class="jumbotron" style="margin:2px 10% 10% 10%;">
		<div class="row">
			<div class="col-md-6">
				<div class="list-group">
					<a href="#" class="list-group-item active">Download Whatsapp chat in iPhone</a>
  					<a href="#" class="list-group-item">Go to Whatsapp's group Information page</a>
  					<a href="#" class="list-group-item">Scroll to bottom to , Export Chat</a>
  					<a href="#" class="list-group-item">Select "Without Media". The website can select files from Desktop only. Support for Media is not provided</a>
				</div>
		    </div>
		    <div class="col-md-6">
		    	<div class="list-group">
					<a href="#" class="list-group-item active">Download Whatsapp chat in Android</a>
  					<a href="#" class="list-group-item">Go to Whatsapp's group Information page</a>
  					<a href="#" class="list-group-item">Scroll to bottom to , Export Chat</a>
  					<a href="#" class="list-group-item">Select "Without Media". The website can select files from Desktop only. Support for Media is not provided</a>
				</div>

		    </div>
		</div>

	</div>
</div>